<section>
        <h1>About Us</h1>

    <article>
        <h2>Musik the app of expression</h2>
        <p>The Musik app is the community you want to share and express with users the power of music. Our mission is to
            create a hub perfect fo those who love music and wish to make conections.</p>
    </article>

    <article>
        <h2>Our Story</h2>
        <p>Musik was founded in October 2023 as a project for Rugers coding bootcamp. A group of passionate developers came together to make the right Musik app for passionate music lovers.</p>
    </article>

    <article>
        <h2>Our Developers</h2>
        <ul>
            <li> <a href="https://github.com/HunterMuratore">Hunter Muratore</a> CEO, Full-Stack Developer</li>
            <li> <a href="https://github.com/brandonom">Brandon Myers</a> COO, Full-Stack Developer</li>
            <li> <a href="https://github.com/apohl53">Alex Pohlman</a> CTO, Full-Stack Developer</li>
            <li> <a href="https://github.com/Kev-Castro">Kevin Castro</a> CMO, Full-Stack Developer</li>
            <li> <a href="https://github.com/ddurandev">David Duran</a> Executive assistant, Full-Stack Developer</li>
        </ul>
    </article>

    <article>
        <h2>Our path going forward</h2>
        <p>We hope to continue to create more ways for users to interact with each other. We want to be the leading app in music sharing and one of the best apps in social media. </p>
    </article>
</section>