<img class="test_image" src="../../public/assets/images/Musik.png" alt="">

  <div class="bg-cover bg-center h-screen flex items-center" style="background-image:/assets/images/Musik_(2).png">
    <div class="text-black text-4x1 font-semibold mx-4"></div>
  </div>

<figure class="h-auto max-w-lg">
    <img class="rounded-full w-30 h-30" src="/assets/images/Musik.png" alt="rock music">
    <figcaption class="mt-2 text-sm text-center text-black dark:text-gray-400">Rock</figcaption>
  </figure>

  <figure class="h-auto max-w-lg mx-auto">
    <img class="rounded-full w-30 h-30" src="/assets/images/Musik.png" alt="rap music">
    <figcaption class="mt-2 text-sm text-center text-black dark:text-gray-400">Rap</figcaption>


  </figure class="h-auto m-w-lg ml-auto">
    <img class="rounded-full w-30 h-30" src="/assets/images/Musik.png" alt="pop music">
    <figcaption class="mt-2 text-sm text-center text-black dark:text-gray-400">Pop</figcaption>
  </figure>
