<form action="/auth/login" method="POST">
  <h1>Login!</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input type="text" name="email" placeholder="Please enter your email address">
  <input type="text" name="username" placeholder="Please enter your username">
  <input type="password" name="password" placeholder="Please enter your password">
  <button class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Login</button>
</form>