<form action="/profile" method="POST">
    <h1>What are you listening to?</h1>

 {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input type="text" name="track" placeholder="What song are you listening to?" required>
  <input type="text" name="comment" placeholder="Tell us what you think of it!">
  <button>Submit</button>
</form>

<div>
{{#each posts}}
    <h3>{{track}}</h3>

    <p>{{comment}} by {{author.username}}</p>
{{/each}}
</div>