<section>
    <ul>
        {{#each tracks as |track|}}
        <li>
            <a href="/song?id={{track.id}}&comment={{comment}}&user_id={{user_id}}">{{track.album.name}}</a>
            <hr>
        </li>
        {{/each}}
    </ul>
</section>